<div class="panel panel-default">
<div class="panel-heading"><h2>Rejestracja</h2></div>
<div class-"panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form_group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form_control" %>
  </div>

  <div class="form_group">
    <%= f.label :password, "Hasło" %>
    <% if @minimum_password_length %>
    <em>(Minimum <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form_control" %>
    <p></p>
  </div>


  <div class="actions">
    <%= f.submit "Zarejestruj się", class: 'btn btn-primary'  %>
  </div>
<% end %>


</div>
<div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>
