<div class="panel panel-primary">
  <div class="panel-body">
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box">
      <div class="panel panel-default">
        <div class="panel-body">
        <%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
        <strong><font size='4'><%=link_to pin.title, pin %></font></strong><br/>
        <br/>Dodane przez: <strong><%= pin.user.name if pin.user %></strong><br/>
        <span class="likes-count">Weźmie udział: <%=pin.get_upvotes.size%> </span><br/>
        Data dodania: <%= pin.created_at %></br>

      </div>
        <% if pin.user == current_user %>
        <div class="panel-footer">
        <%= link_to 'Edytuj', edit_pin_path(pin) %><br/>
        <%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewny?' } %><br/>
      </div>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
</div>
<div class="panel-footer">
<div class="center">
<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>
