<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
<div class="col-md-offset-2 col-md-8">
<div class="panel panel-default">
  <div class="panel-heading center">
    <%= image_tag @pin.image.url(:medium) %></div>
<div class-"panel-body">
  <strong><font size='7'><%= @pin.title %></font></strong><br/>
  <%= @pin.description %><br/></br>
  Dodane przez: <strong><%= @pin.user.name %></strong><br/>
    <span class="likes-count">Weźmie udział: <%=@pin.get_upvotes.size%> </span><br/></br>
  <%= link_to like_pin_path(@pin), class:"like-btn", method: :put, remote: true do %>
  <%if !current_user.liked? @pin%>
    <span><p>Będę tam! :)</p></span>
    <%else%>
    <span><p>Nie mogę przyjść :(</p></span>
  <%end%>
  <%end%>
  <% if @pin.user == current_user %>
<%= link_to 'Edytuj', edit_pin_path(@pin) %><br/>
<%= link_to 'Usuń', @pin, method: :delete, data: { confirm: 'Jesteś pewny?' } %><br/>
<%end%>
<%= link_to 'Wstecz', pins_path %>
</div>
</div>
</div>
</div>
